/abstraktni_tridy.py
/datove_tridy.py
/datumy_vlaky.py
/datum_cas.py
/datum_doprava_vecere.py
/detektivky.py
/Employee.py
/funkce.py
/funkce_objekty.py
/funkce_sum_two_numbers.py
/jizdenky26_2.py
/knihy.py
/mnoziny.py
/moduly.py
/n_tice.py
/objekty.py
/package26_2.py
/priklady19_2.py
/priklady26_2.py
/priklady_objekty.py
/slicing.py
/slovniky.py
/slovniky_detektivky.py
/tombola.py
/vysvedceni.py